*{
  padding: 0;
  margin: 0;
}
html{
  font-size: calc(100vw / 750 * 100);
}
html,body,#root,.App{
  height: 100%;
}
.App{
  max-width: 667px;
  margin: 0 auto;
  width: 100%;
}
#root{
  overflow: hidden;
  overflow-y: scroll;
}